.keypad {
	border: #f8f8f8 solid 8px;
	border-radius: 32px;

	box-shadow: 0px -8px 16px rgba(0, 0, 0, 0.15),
		inset 0px 4px 0px rgba(0, 0, 0, 0.5);

	background: url('/src/assets/case.svg') repeat center;
}

.keypad__container {
	display: grid;
	grid-template-columns: repeat(4, minmax(75px, 0fr));
	grid-template-rows: auto;

	justify-content: center;
	align-content: center;
	gap: 30px 20px;

	padding: 25px;
}

@media screen and (max-width: 768px) {
	.keypad__container {
		grid-template-columns: repeat(4, minmax(70px, 0fr));
		gap: 20px 2vw;
		padding: 15px;
	}
}
