.calculator {
	position: relative;
	width: 100%;
	/* height: 100%; */
	margin: 20px auto;
}

.calculator__case {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
	gap: 15px;

	background: linear-gradient(
		to right,
		rgba(0, 0, 0, 20%) 0%,
		rgba(242, 242, 242) 3%,
		rgba(242, 242, 242) 95%,
		rgba(0, 0, 0, 20%) 100%
	);
	border: 8px solid #333333;
	border-radius: 44px;

	width: 100%;
	max-width: 540px;
	max-height: 750px;
	box-sizing: border-box;
}

.calculator__switch {
	width: 74px;
	height: 32px;
	border-radius: 4px;
	opacity: 80%;
	background-color: #181818;
	box-shadow: inset 0px 4px 0px rgba(0, 0, 0, 0.25);
	position: relative;
	margin-left: 12%;
}

.calculator__switch-img {
	position: absolute;
	right: -7px;
	top: -7px;
}
