.display {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	position: relative;
	padding: 25px 25px 30px 25px;
	max-height: 155px;

	border: #f8f8f8 solid 12px;
	border-radius: 36px;

	box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.25),
		inset 0px 4px 0px rgba(0, 0, 0, 0.5);

	background-color: #274a4e;
}

.display__container {
	background-color: #05292f;
	width: 100%;
	height: 100%;
	border-radius: 16px;
	box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.25);

	padding: 25px 0 10px 0;

	display: flex;
	align-items: center;
	justify-content: center;
}

.display__result {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	overflow-x: scroll;
	overflow-y: hidden;

	width: 292px;
	height: 64px;

	background-color: #02554e;
	box-shadow: inset 0px 8px 0px rgba(0, 0, 0, 0.22);

	font-family: 'DS-Digital', monospace;
	font-size: 44px;
	font-weight: 900;
	letter-spacing: 2px;
}

.display__result::before {
	content: '8888888888888888';
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	text-align: right;
	color: #5affe2;
	opacity: 0.1;
	z-index: 0;

	font-size: 44px;
	font-weight: 900;
	letter-spacing: 2px;
	pointer-events: none;
	white-space: nowrap;
}

.display__dots {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;

	position: absolute;
	bottom: 8px;
	left: 50%;
	transform: translateX(-50%);
}

.display__dot {
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: #05292f;
}

.display__result span {
	color: #5affe2;
	width: 100%;
}
